@import "../utils/mixins";

.footer {
    background-color: rgba(0, 0, 0, 0.792);
    color: white;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    &__h2 {
        font-size: 15px;
        font-family: 'Shrikhand', cursive;
    }
    &__link {
        text-decoration: none;
        color: white;
        font-size: 13px;
    }
    &__icone {
        margin-right: 10px;
        font-size: 13px;
        &__utensils {
            margin-right: 14px;
        }
    }
}