@import "../utils/mixins";

/* Header tag */

header {
    i {
        font-size: 18px;
        @include tablette {
            font-size: 19px;
        }
    }
    a {
        position: absolute;
        color: black;
        top: 23px;
        left: 17px;
    }
    figure {
        text-align: center;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        img {
            width: 140px;
            margin-top: 10px;
            @include tablette {
                width: 150px;
            }
        }
    }
}