/* import police on google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Variable for color and animation duration */ /* Maps for responsive device */
/* Maps for responsive device */
/* Mixins for responsive device */
/* like animation */
@keyframes like {
  0% {
    text-shadow: 0 -1px #9356DC, 0 1px #9356DC, -1px 0 #9356DC, 1px 0 #9356DC;
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 -1px #9356DC, 0 1px #9356DC, -1px 0 #9356DC, 1px 0 #9356DC;
    opacity: 1;
  }
}
/* load animation */
@keyframes load {
  0% {
    z-index: 999;
    opacity: 1;
  }
  50% {
    z-index: 999;
    opacity: 1;
  }
  90% {
    z-index: 999;
    opacity: 1;
  }
  100% {
    z-index: -999;
    opacity: 0;
  }
}
/* spin animation */
@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(-1440deg);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.009;
  }
  100% {
    z-index: -999;
    opacity: 0;
    display: none;
  }
}
/* spin inverse animation */
@keyframes spininv {
  0% {
    opacity: 1;
    transform: rotate(2440deg);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.009;
  }
  100% {
    z-index: -999;
    opacity: 0;
    display: none;
  }
}
/* progress animation */
@keyframes progress {
  0% {
    transform: translateY(20px);
    position: relative;
    z-index: -1000;
    opacity: 0;
  }
  100% {
    z-index: 0;
    opacity: 1;
    position: relative;
    transform: translateY(0px);
  }
}
/* Maps for responsive device */
/* Mixins for responsive device */ /* Base tag */
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body, p {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Header tag */
header i {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  header i {
    font-size: 19px;
  }
}
header a {
  position: absolute;
  color: black;
  top: 23px;
  left: 17px;
}
header figure {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header figure img {
  width: 140px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  header figure img {
    width: 150px;
  }
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Footer tag */
.footer {
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer div {
    display: flex;
    justify-content: space-between;
  }
}
.footer__h2 {
  font-size: 15px;
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .footer__h2 {
    font-size: 17px;
  }
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 14px;
  }
}
.footer__icone {
  margin-right: 10px;
  font-size: 13px;
}
.footer__icone__utensils {
  margin-right: 14px;
}
@media screen and (min-width: 768px) {
  .footer__icone {
    font-size: 14px;
  }
}

/* Variable for color and animation duration */
/* Style for home page */
.load {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8274509804);
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0px;
  z-index: -999;
  opacity: 0;
  animation: load 3s both;
}
.load__spin {
  position: relative;
  width: 50px;
  z-index: 999;
  height: 50px;
  border-radius: 50%;
  border-top: 1px solid #9356DC;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  animation: spin 2900ms forwards;
}
.load__spin--inv {
  position: relative;
  width: 30px;
  left: 10px;
  z-index: 999;
  height: 30px;
  border-radius: 50%;
  border-top: 1px solid #FF79DA;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  animation: spininv 2900ms forwards;
}
.load__ball {
  position: relative;
  left: 40px;
  z-index: 999;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #9356DC;
  border-radius: 50%;
  animation: spin 2900ms forwards;
}
.load__ball--inv {
  position: relative;
  z-index: 999;
  top: 2px;
  width: 5px;
  height: 5px;
  background-color: #FF79DA;
  border-radius: 50%;
  animation: spininv 2900ms forwards;
}
.load__text {
  color: #9356DC;
}

.form div {
  background: linear-gradient(180deg, rgba(153, 226, 208, 0.48), #d1fdf2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid rgba(76, 112, 103, 0.1764705882);
  cursor: text;
}
.form__icone {
  font-size: 14px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: -15px;
}
@media screen and (min-width: 768px) {
  .form__icone {
    font-size: 15px;
  }
}
.form__text {
  margin-left: 15px;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .form__text {
    font-size: 14px;
  }
}

.intro {
  text-align: center;
  background-color: rgba(246, 247, 246, 0.7607843137);
  padding-bottom: 55px;
}
.intro__h2 {
  font-size: 20px;
  text-align: center;
  margin-block-start: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-block-end: 0px;
  padding-top: 25px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .intro__h2 {
    font-size: 21px;
  }
}
.intro__p {
  margin-bottom: 40px;
  margin-left: 15px;
  font-size: 14px;
  margin-right: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .intro__p {
    font-size: 15px;
  }
}
.intro__a {
  background: linear-gradient(177deg, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 12px 14px 12px 14px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 8px 2px #99e2d0;
  transition: all 500ms;
}
.intro__a:hover {
  opacity: 0.8;
  box-shadow: 1px 5px 9px 6px #99e2d0;
}
@media screen and (min-width: 768px) {
  .intro__a {
    font-size: 14px;
  }
}

.operation {
  margin-left: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .operation {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 768px) {
  .operation__block {
    display: flex;
    justify-content: space-between;
  }
}
.operation__h2 {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: -5px;
}
@media screen and (min-width: 768px) {
  .operation__h2 {
    font-size: 21px;
  }
}
.operation__number {
  position: relative;
  top: 20px;
  left: -10px;
  width: 22px;
  height: 22px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: 13px;
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
}
@media screen and (min-width: 768px) {
  .operation__number {
    width: 25px;
    height: 25px;
    padding-top: 5px;
  }
}
.operation__content {
  margin-top: 20px;
  background-color: #F6F7F6;
  box-shadow: 0px 3px 10px #99e2d0;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.operation__content:hover {
  background-color: rgba(173, 216, 230, 0.3333333333);
}
.operation__content:hover .operation__icone {
  color: #9356DC;
}
.operation__content div {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}
@media screen and (min-width: 768px) {
  .operation__content {
    width: 30%;
  }
}
.operation__p {
  text-align: center;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  margin-left: -90px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .operation__p {
    margin-left: 0px;
    font-size: 14px;
  }
}
.operation__icone {
  color: #73aea0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  margin-left: -15px;
}
@media screen and (min-width: 768px) {
  .operation__icone {
    margin-left: 10px;
    margin-right: -40px;
  }
}

.restaurant {
  background-color: #F6F7F6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  margin-top: 10px;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .restaurant__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.restaurant__h2 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant__h2 {
    font-size: 21px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__h2 {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.restaurant__i {
  text-shadow: 0 -1px black, 0 1px black, -1px 0 black, 1px 0 black;
  color: white;
  cursor: pointer;
}
.restaurant__i:hover {
  animation: like 1s both;
}
.restaurant__block {
  display: block;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.089);
}
.restaurant__block:hover {
  box-shadow: 1px 4px 8px 5px rgba(0, 0, 0, 0.089);
}
@media screen and (min-width: 768px) {
  .restaurant__block {
    width: 300px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__block {
    width: 380px;
  }
}
.restaurant__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurant__p--border {
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.restaurant__p--bold {
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .restaurant__p--bold {
    font-size: 17px;
  }
}
.restaurant__p--padding {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .restaurant__p--padding {
    font-size: 15px;
  }
}
.restaurant__new {
  position: absolute;
  margin-top: 10px;
  right: 25px;
  width: 80px;
  height: 20px;
  border-radius: 2px;
  padding: 4px 9px 4px 9px;
  text-align: center;
  background-color: #99E2D0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .restaurant__new {
    right: unset;
    margin-left: -95px;
    font-size: 13px;
  }
}
.restaurant__i {
  float: right;
  margin-right: 15px;
}
.restaurant a {
  color: black;
  text-decoration: none;
}

/* Variable for color and animation duration */
/* Style for menu page */
main img {
  width: 100%;
  object-fit: cover;
  height: 219px;
}
@media screen and (min-width: 992px) {
  main img {
    height: 519px;
  }
}

.menu {
  margin-top: -50px;
  position: relative;
  z-index: 1;
  background-color: #F6F7F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 15px 20px 15px;
}
@media screen and (min-width: 992px) {
  .menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.menu__content > div {
  margin-bottom: 35px;
}
@media screen and (min-width: 992px) {
  .menu__content > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu__h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 550;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .menu__h1 {
    font-size: 21px;
  }
}
.menu__icon {
  float: right;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
  color: white;
  font-size: 17px;
  margin-right: 20px;
  text-shadow: 0 -1px black, 0 1px black, -1px 0 black, 1px 0 black;
}
.menu__icon:hover {
  animation: like 1s both;
}
@media screen and (min-width: 768px) {
  .menu__icon {
    font-size: 18px;
  }
}
.menu__h2 {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 250;
  font-size: 14px;
  padding-bottom: 7px;
  width: 35px;
  height: 100%;
  border-bottom: solid 3px rgba(0, 0, 0, 0.329);
}
@media screen and (min-width: 768px) {
  .menu__h2 {
    font-size: 15px;
  }
}
.menu__food {
  background-color: white;
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.072);
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .menu__food {
    width: 30%;
  }
}
.menu__food--width {
  width: 100%;
  padding: 10px;
  min-width: 100px;
}
.menu__food--width--checkmark {
  background-color: #F6F7F6;
  display: flex;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.menu__food--width--checkmark__icon--i {
  color: white;
  background-color: #99E2D0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-left: 1px;
  padding-top: 2px;
  padding-right: 1px;
  transition: all 400ms 200ms;
}
.menu__food--width--checkmark:hover {
  width: 50px;
  opacity: 1;
}
.menu__food--width:hover + .menu__food--width--checkmark {
  width: 50px;
  opacity: 1;
}
.menu__food--width:hover + .menu__food--width--checkmark > .menu__food--width--checkmark__icon > .menu__food--width--checkmark__icon--i {
  transform: rotate(360deg);
}
.menu__food h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
}
@media screen and (min-width: 768px) {
  .menu__food h3 {
    font-size: 16px;
  }
}
.menu__food__block {
  display: flex;
  justify-content: space-between;
}
.menu__food__desc {
  margin: 0px;
  font-size: 13px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
}
@media screen and (min-width: 768px) {
  .menu__food__desc {
    font-size: 14px;
  }
}
.menu__food__price {
  font-size: 13px;
  font-weight: 400;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .menu__food__price {
    font-size: 14px;
  }
}
.menu__button {
  padding-bottom: 45px;
  padding-top: 15px;
  text-align: center;
}
.menu__link {
  background: linear-gradient(177deg, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 8px 2px #99e2d0;
  transition: all 500ms;
}
.menu__link:hover {
  opacity: 0.8;
  box-shadow: 1px 5px 9px 6px #99e2d0;
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 14px;
  }
}

.progress-anim {
  animation: progress 400ms both ease-out;
}
.progress-anim--1 {
  animation-delay: 300ms;
}
.progress-anim--2 {
  animation-delay: 600ms;
}
.progress-anim--3 {
  animation-delay: 900ms;
}
.progress-anim--4 {
  animation-delay: 1200ms;
}
.progress-anim--5 {
  animation-delay: 1500ms;
}
.progress-anim--6 {
  animation-delay: 1800ms;
}
.progress-anim--7 {
  animation-delay: 2100ms;
}
.progress-anim--8 {
  animation-delay: 2400ms;
}
.progress-anim--9 {
  animation-delay: 2700ms;
}
.progress-anim--10 {
  animation-delay: 3000ms;
}

/*# sourceMappingURL=style.css.map */
