@import "../utils/mixins";

* {
    @include mobile {
        box-sizing: border-box;
    }
}

*:focus {
    outline: none;
}

body, p {
    @include mobile {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
    }
}