@import "../utils/variables";

main img {
    width: 100%;
    object-fit: cover;
    height: 219px;
}

.menu {
    margin-top: -50px;
    position: relative;
    z-index: 1;
    background-color: $other-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 15px 20px 15px;
    &__content {
        > div {
            margin-bottom: 35px;
        }
    }
    &__h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: 550;
        font-size: 20px;
    }
    &__icon {
        float: right;
        margin-bottom: auto;
        margin-top: auto;
        color: white;
        font-size: 17px;
        margin-right: 20px;
        text-shadow: 0 -1px black, 0 1px black, -1px 0 black, 1px 0 black;
    }
    &__h2 {
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        margin-top: 30px;
        font-weight: 250;
        font-size: 14px;
        padding-bottom: 7px;
        width: 35px;
        height: 100%;
        border-bottom: solid 3px rgba(0, 0, 0, 0.329);     
    }
    &__food {
        background-color: white;
        cursor: pointer;
        display: flex;
        border-radius: 15px;
        box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.072);
        margin-bottom: 15px;
        &--width{
            width: 100%;
            padding: 10px;
            &--checkmark {
                background-color: $other-color;
                display: flex;
                cursor: pointer;
                height: auto;
                width: 0;
                opacity: 0;
                border-radius: 0 15px 15px 0;
                justify-content: center;
                align-items: center;
                transition: all 1s;
                &__icon {
                    &--i {
                        color: white;
                        background-color: $color-tertiaire;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        text-align: center;
                        padding-left: 1px;
                        padding-top: 2px;
                        padding-right: 1px;
                        transition: all 500ms 200ms;
                    }
                }
            }
        }
        h3 {
            margin: 0px;
            font-weight: 500;
            font-size: 15px;
            color: rgba($color: #000000, $alpha: .8);
            padding-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 100px;
        }
        &__block {
            display: flex;
            justify-content: space-between;
        }
        &__desc {
            margin: 0px;
            font-size: 13px;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 100px;
        }
        &__price {
            font-size: 13px;
            font-weight: 400;
            margin-left: 15px;
        }
    }
    &__button {
        padding-bottom: 45px;
        padding-top: 15px;
        text-align: center;
    }
    &__link {
        background: linear-gradient(177deg, $color-secondaire, $color-primaire);
        border-radius: 30px;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 13px;
        color: white;
        text-decoration: none;
        box-shadow: 0px 3px 8px 2px $shadow-color;
        transition: all 1s;
        &:hover {
            opacity: .7;
            box-shadow: 3px 3px 6px 4px $shadow-color;
        }
    }
}