@import "../utils/variables";

main img {
    width: 100%;
    object-fit: cover;
    height: 219px;
    @include desktop {
        height: 519px;
    }
}

.menu {
    margin-top: -50px;
    position: relative;
    z-index: 1;
    background-color: $other-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 15px 20px 15px;
    @include desktop {
        margin-left: 10%;
        margin-right: 10%;
    }
    &__content {
        > div {
            margin-bottom: 35px;
            @include desktop {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: 550;
        font-size: 20px;
        @include tablette {
            font-size: 21px;
        }
    }
    &__icon {
        float: right;
        cursor: pointer;
        margin-bottom: auto;
        margin-top: auto;
        color: white;
        font-size: 17px;
        margin-right: 20px;
        text-shadow: 0 -1px black, 0 1px black, -1px 0 black, 1px 0 black;
        &:hover {
            animation: like 1s both;
        }
        @include tablette {
            font-size: 18px;
        }
    }
    &__h2 {
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        margin-top: 30px;
        font-weight: 250;
        font-size: 14px;
        padding-bottom: 7px;
        width: 35px;
        height: 100%;
        border-bottom: solid 3px rgba(0, 0, 0, 0.329);
        @include tablette {
            font-size: 15px;
        }    
    }
    &__food {
        background-color: white;
        cursor: pointer;
        display: flex;
        border-radius: 15px;
        box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.072);
        margin-bottom: 15px;
        @include desktop {
            width: 30%;
        }
        &--width{
            width: 100%;
            padding: 10px;
            min-width: 100px;
            &--checkmark {
                background-color: $other-color;
                display: flex;
                cursor: pointer;
                height: auto;
                width: 0;
                opacity: 0;
                border-radius: 0 15px 15px 0;
                justify-content: center;
                align-items: center;
                transition: all 1s;
                &__icon {
                    &--i {
                        color: white;
                        background-color: $color-tertiaire;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        text-align: center;
                        padding-left: 1px;
                        padding-top: 2px;
                        padding-right: 1px;
                        transition: all 400ms 200ms;
                    }
                }
                &:hover {
                    width: 50px;
                    opacity: 1;
                }
            }
            &:hover + .menu__food--width--checkmark {
                width: 50px;
                opacity: 1;
            }
            &:hover + .menu__food--width--checkmark > .menu__food--width--checkmark__icon > .menu__food--width--checkmark__icon--i {
                transform: rotate(360deg);
            }
        }
        h3 {
            margin: 0px;
            font-weight: 500;
            font-size: 15px;
            color: rgba($color: #000000, $alpha: .8);
            padding-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 100px;
            @include tablette {
                font-size: 16px;
            }
        }
        &__block {
            display: flex;
            justify-content: space-between;
        }
        &__desc {
            margin: 0px;
            font-size: 13px;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 100px;
            @include tablette {
                font-size: 14px;
            }
        }
        &__price {
            font-size: 13px;
            font-weight: 400;
            margin-left: 15px;
            @include tablette {
                font-size: 14px;
            }
        }
    }
    &__button {
        padding-bottom: 45px;
        padding-top: 15px;
        text-align: center;
    }
    &__link {
        background: linear-gradient(177deg, $color-secondaire, $color-primaire);
        border-radius: 30px;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 13px;
        color: white;
        text-decoration: none;
        box-shadow: 0px 3px 8px 2px $shadow-color;
        transition: all 500ms;
        &:hover {
            opacity: .8;
            box-shadow: 1px 5px 9px 6px $shadow-color;
        }
        @include tablette {
            font-size: 14px;
        }
    }
}

.progress-anim {
    animation: progress $anim-dur both ease-out;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 300ms * $i;
        }
    }
}