@keyframes like {
    0% {
        text-shadow: 0 -1px $color-primaire, 0 1px $color-primaire, -1px 0 $color-primaire, 1px 0 $color-primaire;
        opacity: 0;
    }
    20% {
        opacity: .2;
    }
    40% {
        opacity: .4;
    }
    60% {
        opacity: .6;
    }
    80% {
        opacity: .8;
    }
    100% {
        color: $color-primaire;
        text-shadow: 0 -1px $color-primaire, 0 1px $color-primaire, -1px 0 $color-primaire, 1px 0 $color-primaire;
        opacity: 1;
    }
}

@keyframes load {
    0% {
        z-index: 100;
        opacity: 1;
    }
    50% {
        z-index: 100;
        opacity: 1;
    }
    90% {
        z-index: 100;
        opacity: 1;
    }
    100% {
        z-index: -999;
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(-1440deg);
    }
    98% {
        opacity: 1;
    }
    99% {
        opacity: .009;
    }
    100% {
        z-index: -999;
        opacity: 0;
        display: none;
    }
}

@keyframes progress {
    0% {
        transform: translateY(20px);
        position: relative;
        z-index: -1000;
        opacity: 0;
    }
    100% {
        z-index: 0;
        opacity: 1;
        position: relative;
        transform: translateY(0px);
    }
}